.contact_us {
  .contact_data {
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
      @media screen and (max-width: 1040px) {
          flex-direction: column;
        }
    .widget_contacts {
      height: 500px;
      width: 30%;
      border: 5px solid #6147aa96;
      @media screen and (max-width: 1040px) {
        width: 100%;
        height: inherit;
        border: 3px solid #6147aa96;
      }
      ul {

        list-style-type: none;
        @media screen and (max-width: 1040px) {
          display: flex;
          justify-content: center;
          flex-flow: row wrap;

        }
        li {
          display: flex;
          align-items: center;
          padding: 32px 0;
          @media screen and (max-width: 1040px) {
            display: flex;
            flex-direction: column;
          }
          .contact-text {
            font-size: 15px;
            padding: 20px;
            width: 80%;
            line-height: 25px;
            font-family: 'Roboto', sans-serif;
            @media screen and (max-width: 1040px) {
              order: 1;
              text-align: center;
              width: 100%;
                }
          strong{
            font-size: 20px;
          }
            p{
            color: #000;
            font-size: 17px;
         
            a{
              color: #000;
              text-decoration: none;
            }
          }
          }
          .icon {
            width: 40px;
            height: 40px;
            margin-right: 20px;
            @media screen and (max-width: 1040px) {
          order: 0;
          margin-right: 0;
            }
          }
        }
      }
    }
    .right_map {
      width: 75%;
      // padding-left: 30px;
        @media screen and (max-width: 1040px) {
          width: 100%;
        }
      iframe {
        width: 100%;
        // border-radius: 13px;
        // @media screen and (max-width: 1070px) {
        //   width: 500px;
        // }
        // @media screen and (max-width: 800px) {
        //   width: 85vw;
        //   height: 350px;
        // }
        // @media screen and (max-width: 425px) {
        //   width: 80vw;
        //   height: 300px;
        // }
      }
    }
  }
}
.contact_form {
  width: 50%;
  padding-bottom: 40px;
  @media screen and (max-width: 800px) {
    width: 100%;
  }
  h2 {
    font-family: 'EB Garamond', serif;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 30px;
    padding: 0 10px;
    text-align: center;
  }
  form {
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    width: 60%;
    // padding: 0 30px 30px 0;
    @media screen and (max-width: 1500px) {
      width: 100%;
    }
    .input_part {
      position: relative;

      span {
        height: 26px;
        width: 26px;
        position: absolute;
        margin: 12px;
      }
      input {
        padding: 15px 15px 15px 50px;
        font-size: 16px;
        border-radius: 8px;
        margin: 0 0 20px 0;
        border: 1px solid rgba(0, 0, 0, 0.2);
        width: 100%;
      }
    }
    textarea {
      padding: 15px;
      font-size: 16px;
      border-radius: 8px;
      margin: 0 0 20px 0;
      border: 1px solid rgba(0, 0, 0, 0.2);
      resize: none;
      font-family: inherit;
    }
    .button{
      margin: 0 auto;
    }
  }
}
