nav {
  .header{
    background-color: #A496B5;
  }
  // .top-header.mobile{
  //   display: none;
  //   @media screen and (max-width: 735px) {
  //     display: block;
  //     padding: 20px   35px ;
  //   }
  // }
  .top-header {
    padding: 20px 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    //  @media screen and (max-width: 735px) {
    //     display: none;
    //   }
    strong.text {
      font-size: 21px;
      letter-spacing: 2px;
      // @media screen and (max-width: 925px) {
      //   display: none;
      // }
     
    }
    a {
      color: #fff;
      text-decoration: none;
      transition: all 0.3s ease;
      i {
        font-size: 25px;
        margin-left: 10px;
       
      }
      
    }
    .insta_icon{
      i{
        font-size: 27px;
      }
      
    }
    .top_info_box {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      color: #fff;
      text-decoration: none;
      font-size: 23px;
      line-height: 25px;
      transition: all 0.3s ease;
      &:hover {
        color: #6247aa;
        transition: all 0.3s ease;
      }
    }
  }
  a:hover {
    color: #6247aa;
    transition: all 0.3s ease;
  }
}

nav {
  position: sticky;
  width: 100%;
  z-index: 300;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 18px 19px -21px rgba(0, 0, 0, 0.3);

  .nav {
    display: flex;
    // flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
 
    .logo {
      height: 115px;
      max-width: 350px;
      @media screen and (max-width: 925px) {
        height: 85px;
        max-width: 250px;
      }
    }
    .nav_menu {
      display: flex;
      li {
        list-style-type: none;
        flex-flow: column nowrap;
        padding: 20px 0 20px 35px;
        position: relative;
        a {
          color: #000;
          padding: 5px 0;
          text-decoration-line: none;
          font-size: 22px;
          letter-spacing: 1.3px;
          font-weight: 200;
          // text-transform: uppercase;
          position: relative;
          &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 2px;
            bottom: 0;
            background: transparent;
          }
        }
        &:hover > a {
          color: #6247aa;
          transition: all 0.3s ease;
          &::before {
            background: radial-gradient(
              100% 185.14% at 100% 100%,
              #c19ee0 0%,
              #6247aa 100%
            );
            animation: animateLine 1s;
          }
        }
      }
    }
    .mobile_btn {
      i {
        display: none;
        font-size: 24px;
        cursor: pointer;
        margin: 20px;
        color: #000;
        @media screen and (max-width: 925px) {
          display: block;
          font-size: 40px;
        }
      }
    }
  }
}
nav  .nav  .nav_menu.active {
  transform: translateX(0px);
  z-index: 1;
}

@media screen and (max-width: 925px) {
  nav {
    .nav {
      padding: 15px;
      .nav_menu {
        flex-direction: column;
        top: 180px;
        width: 100vw;
        left: 0;
        position: absolute;
        background: rgb(255, 255, 255);
        transform: translateX(1550px);
        transition: 0.5s;
        padding-bottom: 50px;
        li {
          text-align: end;
          padding:10px 30px;
        }
      }
    }
  }

  
}

@keyframes animateLine {
  0% {
    width: 10%;
  }
  100% {
    width: 100%;
  }
}
