.service-page{
    .service-items{
        font-family: "Roboto";
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .item{
            width: 31%;
            margin: 20px 10px;
            .image{
                height: 350px;
                img{
                    object-fit: cover;
                }
            }
            h3{
                padding: 25px;
                text-align: center;
                background-color: #6147aa48;
            }
        }
        .services_text{
            color: #8f8f8f;
            font-family: Arial, Helvetica, sans-serif;
            line-height: 1.5;
            h4{
                font-size: 18px;
            }
            p{
                // font-size: 15px;
            }
        }
    }

}
