.services_part {
  background-color: #6147aa2d;
  padding-bottom: 50px;
  .title {
    h6 {
      color: #6247AA;
      font-weight: 500;
      font-size: 50px;
      text-transform: uppercase;
      letter-spacing: 5px;
      margin-bottom: 40px;
      text-align: center;
      padding: 80px 20px 20px;
      @media screen and (max-width: 730px){
        font-size: 30px;
        letter-spacing: 1px;
      }
      @media screen and (max-width: 450px){
        font-size: 20px;
        letter-spacing: 0;
        line-height: 30px;
        padding: 40px 20px 20px;
      }
    }
  }
  .boxes {
    display: flex;
    justify-content: space-between;
    background-image: url(../image/2.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
    .box {
      padding: 60px 40px;
      height: 350px;
      background-color: #fff;
      border: 1px solid #eee;
      transition: all 0.4s;
      width: 33.333%;
      text-align: center;
      text-decoration: none;
      color: #191514;
      @media screen and (max-width: 930px){
        width: 50%;
      }
      @media screen and (max-width: 630px){
        width: 100%;
      }
      &:hover {
        
        background-color: #6147aa65;
        h2 {
          color: transparent;
          transition: 0.2s;
        }
           h6 {
        color: #fff
      }
        .more {
          color: #fff;
          
        }
         
        .icon{
          img{
            filter: invert(0);
          }
        }
      }
      .icon{
        width: 80px;
        // margin-bottom: 10px;
        margin: 20px auto;
        img{
          filter: invert(100%);
        }
      }
      h6 {
        font-size: 23px;
        font-weight: 600;
        letter-spacing: 1.3px;
        line-height: 1.4;
        padding-bottom: 30px;
      }
      .more {
        color: #191514;
        font-size: 20px;
        letter-spacing: 1.3px;
        font-weight: 600;
        text-decoration: none;
        background-color: transparent;
      }
    }
  }
}

