@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;600;900&display=swap");
@font-face {
  font-family: ArmFont;
  src: url(../fonts/BraindYerevan.otf);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; 
  list-style-position: inside;
}
*{
  font-family: ArmFont;
}
.container {
  max-width: 1580px;
  margin: 0 auto;
  @media screen and (max-width: 1610px) {
    padding: 0 30px;
  }
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;

}
.head_section{
  position: relative;
  .head_img{
    width: 100%;
    height: 900px;
    img{
      object-position: right;
    }
  }
  .head_text{
    position: absolute;
    text-transform: uppercase;
    color: #fff;
    width: 600px;
    left: 30%;
    top: 50%;
    transform: translate(-30%, -50%);
    font-size: 60px;
  }
}
/* swiper */
.swiper-header {
  width: 100%;
  // padding: 0 30px;
}

.swiper-header .swiper-slide {
  height: 700px;
  @media screen and (max-width: 1080px) {
    height: 45vw;
  }
  @media screen and (max-width: 550px) {
    height: 60vw;
    margin: 0;
  }
}
.swiper-pagination-bullet-active {
  background: #6247AA;
}
.swiper-button-next,
.swiper-button-prev {
  color: #6247AA;
}
.section1 {
  position: relative;
  .section1_inner {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(../image/SL_101619_24150_09.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    width: 100%;
    height: 100vh;
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
    .sec1_title {
      width: 50%;
      position: absolute;
      top: 50%;
      left: 75%;
      transform: translate(-50%, -75%);
      font-size: 35px;

      @media screen and (max-width: 900px) {
        width: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 25px;
      }
      h3 {
        font-size: 55px;
        @media screen and (max-width: 500px) {
          font-size: 40px;
        }
      }
      .btn {
        margin: 20px 0;
        a {
          text-decoration: none;
          display: inline-block;
          padding: 13px 30px;
          transition: all 0.3s ease;
          border: 2px solid #017c7e;
          border-radius: 50px;
          color: #fff;
          font-size: 24px;
          &:hover {
            background: #017c7e;
          }
        }

      }
    }
  }
}
.home_map{
  width: 100%;
  iframe{
    width: 100%;
    height: 500px;
  }
}
.button > a {
  color: #f8f9fa;
  text-decoration-line: none;
  display: inline-block;
  padding: 13px 50px;
  transition: all 0.3s ease;
  border: 2px solid #000;
  background: #000;
  border-radius: 50px;
}

.button > a:hover {
  background: #fff;
  color: #000;
}
.for_bg {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;

  h2{
    font-size: 60px;

    font-weight: 400;
    // padding-bottom: 15px ;
    letter-spacing: 15px;
    border-bottom: 3px solid #fff;
    text-transform: uppercase;
  @media screen and (max-width: 700px) {
    font-size: 40px;
    line-height: 65px;
    letter-spacing: 5px;
  }
  @media screen and (max-width: 420px) {
     border: none;
    }
  }
}
.title_bg{
  height: 300px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  margin-bottom: 50px;
  background-image: url(../img/250.jpg);
  @media screen and (max-width: 700px) {
    height: 200px;
   }
}
@import "servicesPage.scss", "menu.scss","main.scss","nav.scss", "footer.scss", "about.scss", "services.scss", "team.scss",
  "contact.scss";
