@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;600;900&display=swap");
@font-face {
  font-family: ArmFont;
  src: url(../fonts/BraindYerevan.otf);
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style-position: inside;
}

* {
  font-family: ArmFont;
}

.container {
  max-width: 1580px;
  margin: 0 auto;
}
@media screen and (max-width: 1610px) {
  .container {
    padding: 0 30px;
  }
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.head_section {
  position: relative;
}
.head_section .head_img {
  width: 100%;
  height: 900px;
}
.head_section .head_img img {
  object-position: right;
}
.head_section .head_text {
  position: absolute;
  text-transform: uppercase;
  color: #fff;
  width: 600px;
  left: 30%;
  top: 50%;
  transform: translate(-30%, -50%);
  font-size: 60px;
}

/* swiper */
.swiper-header {
  width: 100%;
}

.swiper-header .swiper-slide {
  height: 700px;
}
@media screen and (max-width: 1080px) {
  .swiper-header .swiper-slide {
    height: 45vw;
  }
}
@media screen and (max-width: 550px) {
  .swiper-header .swiper-slide {
    height: 60vw;
    margin: 0;
  }
}

.swiper-pagination-bullet-active {
  background: #6247AA;
}

.swiper-button-next,
.swiper-button-prev {
  color: #6247AA;
}

.section1 {
  position: relative;
}
.section1 .section1_inner {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../image/SL_101619_24150_09.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  width: 100%;
  height: 100vh;
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
}
.section1 .section1_inner .sec1_title {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -75%);
  font-size: 35px;
}
@media screen and (max-width: 900px) {
  .section1 .section1_inner .sec1_title {
    width: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
  }
}
.section1 .section1_inner .sec1_title h3 {
  font-size: 55px;
}
@media screen and (max-width: 500px) {
  .section1 .section1_inner .sec1_title h3 {
    font-size: 40px;
  }
}
.section1 .section1_inner .sec1_title .btn {
  margin: 20px 0;
}
.section1 .section1_inner .sec1_title .btn a {
  text-decoration: none;
  display: inline-block;
  padding: 13px 30px;
  transition: all 0.3s ease;
  border: 2px solid #017c7e;
  border-radius: 50px;
  color: #fff;
  font-size: 24px;
}
.section1 .section1_inner .sec1_title .btn a:hover {
  background: #017c7e;
}

.home_map {
  width: 100%;
}
.home_map iframe {
  width: 100%;
  height: 500px;
}

.button > a {
  color: #f8f9fa;
  text-decoration-line: none;
  display: inline-block;
  padding: 13px 50px;
  transition: all 0.3s ease;
  border: 2px solid #000;
  background: #000;
  border-radius: 50px;
}

.button > a:hover {
  background: #fff;
  color: #000;
}

.for_bg {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}
.for_bg h2 {
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 15px;
  border-bottom: 3px solid #fff;
  text-transform: uppercase;
}
@media screen and (max-width: 700px) {
  .for_bg h2 {
    font-size: 40px;
    line-height: 65px;
    letter-spacing: 5px;
  }
}
@media screen and (max-width: 420px) {
  .for_bg h2 {
    border: none;
  }
}

.title_bg {
  height: 300px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  margin-bottom: 50px;
  background-image: url(../img/250.jpg);
}
@media screen and (max-width: 700px) {
  .title_bg {
    height: 200px;
  }
}

.service-page .service-items .item {
  width: 31%;
  margin: 20px 10px;
}
.service-page .service-items .item .image {
  height: 350px;
}
.service-page .service-items .item .image img {
  object-fit: cover;
}
.service-page .service-items .item h3 {
  padding: 25px;
  text-align: center;
  background-color: #6147aa48;
}
.service-page .service-items .services_text {
  color: #8f8f8f;
  line-height: 1.5;
  width: 70%;
  margin: 0 auto;
  padding: 30px;
  font-size: 23px;
  text-align: center;
}

.service-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.description__card {
  position: relative;
  text-align: center;
  width: 30%;
  height: 300px;
  margin: 0 20px 40px;
  cursor: pointer;
}
.description__card:hover .description__card-inner {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transition: transform 1s;
  -webkit-transition: transform 1s;
  -moz-transition: transform 1s;
  -ms-transition: transform 1s;
  -o-transition: transform 1s;
}

.description__card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
  -webkit-transition: transform 1s;
  -moz-transition: transform 1s;
  -ms-transition: transform 1s;
  -o-transition: transform 1s;
}

.description__card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 0 30px;
}
.description__card-face .icon {
  width: 100px;
  height: 100px;
}
.description__card-face h3 {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1.74;
  color: #000;
  margin-top: 25px;
}
.description__card-face li {
  font-size: 20px;
  line-height: inherit;
  font-weight: 400;
  color: #272B47;
  text-align: left;
  list-style: circle;
}

.back {
  background: #DBDEE3;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.menu_part .menu_bg {
  height: 350px;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  margin-bottom: 50px;
  background-image: url(../img/title_bg.jpg);
}
.menu_part .menu {
  display: flex;
  flex-wrap: wrap;
}
.menu_part .menu .parts {
  width: 50%;
  padding: 20px 30px 40px 30px;
}
@media screen and (max-width: 685px) {
  .menu_part .menu .parts {
    padding: 20px 0;
    width: 100%;
    display: flex;
    flex-flow: column;
  }
  .menu_part .menu .parts .order1 {
    order: 1;
  }
  .menu_part .menu .parts .order2 {
    order: 0;
  }
}
.menu_part .menu h3 {
  font-weight: 400;
  font-size: 86px;
  color: #000;
  letter-spacing: 4px;
}
@media screen and (max-width: 1070px) {
  .menu_part .menu h3 {
    font-size: 65px;
  }
}
@media screen and (max-width: 550px) {
  .menu_part .menu h3 {
    font-size: 65px;
  }
}
.menu_part .menu .item {
  padding-top: 20px;
  font-size: 18px;
  font-weight: 500;
}
.menu_part .menu .item .price {
  font-weight: 400;
  padding-left: 30px;
}
.menu_part .menu .item p {
  font-weight: 300;
}
.menu_part .image {
  margin-top: 30px;
}

.main {
  padding-bottom: 40px;
}
.main__head {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #d8d8d8;
}
.main__image {
  width: 45vw;
  height: 35vw;
  min-height: 550px;
  max-height: 700px;
  margin: 0 20px;
}
@media screen and (max-width: 990px) {
  .main__image {
    width: 90vw;
    height: 65vw;
    min-height: 450px;
    padding-bottom: 40px;
    margin: 0 auto;
  }
}
.main__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.main__content {
  display: flex;
  margin-top: 50px;
}
@media screen and (max-width: 990px) {
  .main__content {
    flex-wrap: wrap;
  }
}
.main__content .desc {
  width: 55vw;
  color: #212121;
  margin: 0 30px;
}
@media screen and (max-width: 990px) {
  .main__content .desc {
    width: 100vw;
  }
}
.main__content .desc .title {
  color: #f0a3f0;
  font-size: 110px;
  margin-top: 30px;
  padding-bottom: 30px;
}
@media screen and (max-width: 1080px) {
  .main__content .desc .title {
    font-size: 100px;
  }
  .main__content .desc .title h2 {
    font-size: 40px;
    letter-spacing: 5px;
    border-bottom: none;
  }
}
.main__content .desc .title h2 {
  color: #000;
  font-size: 50px;
  letter-spacing: 7px;
  line-height: 57px;
}
@media screen and (max-width: 1080px) {
  .main__content .desc .title h2 {
    font-size: 40px;
    letter-spacing: 5px;
    line-height: 50px;
  }
}
.main__content .desc p {
  padding-bottom: 10px;
  font-size: 20px;
  letter-spacing: 0.8px;
  line-height: 1.5;
  text-align: center;
}

#more {
  display: none;
}

.btn {
  border: 2px solid #000;
}
.btn:hover {
  color: #000;
  border: 2px solid #000;
  background: #f7f7f7;
}

nav .top-header.mobile {
  display: none;
}
@media screen and (max-width: 735px) {
  nav .top-header.mobile {
    display: block;
    padding: 20px 35px;
  }
}
nav .top-header {
  padding: 20px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 735px) {
  nav .top-header {
    display: none;
  }
}
nav .top-header strong.text {
  font-size: 21px;
}
@media screen and (max-width: 925px) {
  nav .top-header strong.text {
    display: none;
  }
}
nav .top-header a {
  color: #000;
  text-decoration: none;
  transition: all 0.3s ease;
}
nav .top-header a i {
  font-size: 25px;
  margin-left: 10px;
}
nav .top-header .insta_icon i {
  font-size: 27px;
}
nav .top-header .top_info_box {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  color: #000;
  text-decoration: none;
  font-size: 23px;
  line-height: 25px;
  transition: all 0.3s ease;
}
nav .top-header .top_info_box:hover {
  color: #6247aa;
  transition: all 0.3s ease;
}
nav a:hover {
  color: #6247aa;
  transition: all 0.3s ease;
}

nav {
  position: sticky;
  width: 100%;
  z-index: 300;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 18px 19px -21px rgba(0, 0, 0, 0.3);
}
nav .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
nav .nav .logo {
  height: 115px;
  max-width: 350px;
}
@media screen and (max-width: 560px) {
  nav .nav .logo {
    height: 85px;
    max-width: 250px;
  }
}
nav .nav .nav_menu {
  display: flex;
}
nav .nav .nav_menu li {
  list-style-type: none;
  flex-flow: column nowrap;
  padding: 20px 0 20px 35px;
  position: relative;
}
nav .nav .nav_menu li a {
  color: #000;
  padding: 5px 0;
  text-decoration-line: none;
  font-size: 23px;
  letter-spacing: 1.3px;
  font-weight: 200;
  text-transform: uppercase;
  position: relative;
}
nav .nav .nav_menu li a::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: 0;
  background: transparent;
}
nav .nav .nav_menu li:hover > a {
  color: #6247aa;
  transition: all 0.3s ease;
}
nav .nav .nav_menu li:hover > a::before {
  background: radial-gradient(100% 185.14% at 100% 100%, #c19ee0 0%, #6247aa 100%);
  animation: animateLine 1s;
}
nav .nav .mobile_btn i {
  display: none;
  font-size: 24px;
  cursor: pointer;
  margin: 20px;
  color: #000;
}
@media screen and (max-width: 925px) {
  nav .nav .mobile_btn i {
    display: block;
    font-size: 40px;
  }
}

nav .nav .nav_menu.active {
  transform: translateX(0px);
  z-index: 1;
}

@media screen and (max-width: 925px) {
  nav .nav {
    padding: 15px;
  }
  nav .nav .nav_menu {
    flex-direction: column;
    top: 140px;
    width: 100vw;
    left: 0;
    position: absolute;
    background: white;
    transform: translateX(-1550px);
    transition: 0.5s;
    padding-bottom: 50px;
  }
  nav .nav .nav_menu li {
    padding-top: 20px;
  }
}
@keyframes animateLine {
  0% {
    width: 10%;
  }
  100% {
    width: 100%;
  }
}
footer {
  background-color: #6147aa27;
  background-blend-mode: overlay;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
  padding: 120px;
}
@media screen and (max-width: 1200px) {
  footer {
    padding: 100px 50px;
  }
}
footer .foot_first {
  display: flex;
  justify-content: space-between;
}
footer .foot_first .logo {
  height: 115px;
  max-width: 350px;
}
@media screen and (max-width: 433px) {
  footer .foot_first .logo {
    height: 85px;
  }
}
@media screen and (max-width: 1050px) {
  footer .foot_first {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
footer .foot_first .footer_nav {
  padding-top: 15px;
}
@media screen and (max-width: 864px) {
  footer .foot_first .footer_nav {
    padding-top: 0;
    padding-bottom: 30px;
  }
}
footer .foot_first .footer_nav li {
  list-style-type: none;
  text-align: end;
}
@media screen and (max-width: 1050px) {
  footer .foot_first .footer_nav li {
    text-align: center;
  }
}
footer .foot_first .footer_nav li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
}

.footer_cont {
  list-style-type: none;
  text-align: center;
}
@media screen and (max-width: 864px) {
  .footer_cont {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
}
.footer_cont li {
  margin: 10px;
  line-height: 1.5;
}
.footer_cont .cont {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
@media screen and (max-width: 528px) {
  .footer_cont .cont {
    flex-direction: column;
  }
}
.footer_cont .cont:hover i {
  color: #6247aa;
}
.footer_cont .cont i {
  font-size: 42px;
}
.footer_cont .cont a {
  color: #0a0a0a;
  font-size: 22px;
  text-decoration: none;
}
.footer_cont .sm a {
  color: #000;
  text-decoration: none;
  transition: all 0.3s ease;
}
.footer_cont .sm a img {
  width: 40px;
  margin-left: 10px;
}
.footer_cont a:hover {
  color: #6247aa;
  transition: all 0.3s ease;
}

.section2 {
  margin-top: 80px;
  padding: 0 30px;
}
.section2 h3 {
  line-height: 1.2;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-size: calc(34px + 16 * (100vw / 1280));
  background-image: url(https://content.rolex.com/dam/homepage/banner-push/homepage-day-date-40-m228238-0042-cutout-background.jpg);
  background-repeat: repeat;
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  text-transform: uppercase;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
}
.section2 p {
  font-size: 25px;
  padding: 40px 0;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.575);
}
.section2 .btn {
  width: 180px;
  font-size: 25px;
  border-radius: 40px;
  padding: 15px;
  border: 2px solid #000;
  margin-bottom: 20px;
  text-align: center;
}
.section2 .btn:hover {
  background: #000;
}

.services_part {
  background-color: #6147aa2d;
  padding-bottom: 50px;
}
.services_part .title h6 {
  color: #6247AA;
  font-weight: 500;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 40px;
  text-align: center;
  padding: 80px 20px 20px;
}
@media screen and (max-width: 730px) {
  .services_part .title h6 {
    font-size: 30px;
    letter-spacing: 1px;
  }
}
@media screen and (max-width: 450px) {
  .services_part .title h6 {
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
    padding: 40px 20px 20px;
  }
}
.services_part .boxes {
  display: flex;
  justify-content: space-between;
  background-image: url(../image/2.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: 0 auto;
}
.services_part .boxes .box {
  padding: 60px 40px;
  height: 350px;
  background-color: #fff;
  border: 1px solid #eee;
  transition: all 0.4s;
  width: 33.333%;
  text-align: center;
  text-decoration: none;
  color: #191514;
}
@media screen and (max-width: 930px) {
  .services_part .boxes .box {
    width: 50%;
  }
}
@media screen and (max-width: 630px) {
  .services_part .boxes .box {
    width: 100%;
  }
}
.services_part .boxes .box:hover {
  background-color: #6147aa65;
}
.services_part .boxes .box:hover h2 {
  color: transparent;
  transition: 0.2s;
}
.services_part .boxes .box:hover h6 {
  color: #fff;
}
.services_part .boxes .box:hover .more {
  color: #fff;
}
.services_part .boxes .box:hover .icon img {
  filter: invert(0);
}
.services_part .boxes .box .icon {
  width: 80px;
  margin: 20px auto;
}
.services_part .boxes .box .icon img {
  filter: invert(100%);
}
.services_part .boxes .box h6 {
  font-size: 23px;
  font-weight: 600;
  letter-spacing: 1.3px;
  line-height: 1.4;
  padding-bottom: 30px;
}
.services_part .boxes .box .more {
  color: #191514;
  font-size: 20px;
  letter-spacing: 1.3px;
  font-weight: 600;
  text-decoration: none;
  background-color: transparent;
}

.section3 h6 {
  color: #6247AA;
  font-weight: 500;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 30px;
  text-align: center;
  padding-top: 80px;
}
@media screen and (max-width: 730px) {
  .section3 h6 {
    font-size: 30px;
    letter-spacing: 1px;
  }
}
.section3 .slide {
  margin: 40px 0;
  padding: 50px 0;
}
.section3 .slide .swiper-slide {
  height: 350px;
}
.section3 .slide .swiper-slide img {
  object-fit: cover;
  border: 5px solid rgba(0, 0, 0, 0.555);
  padding: 5px;
}
.section3 .slide .swiper-pagination {
  margin-top: 70px;
}
.section3 .slide .swiper-pagination-bullet-active {
  background: #000;
}

.contact_us .contact_data {
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1040px) {
  .contact_us .contact_data {
    flex-direction: column;
  }
}
.contact_us .contact_data .widget_contacts {
  height: 500px;
  width: 30%;
  border: 5px solid #6147aa96;
}
@media screen and (max-width: 1040px) {
  .contact_us .contact_data .widget_contacts {
    width: 100%;
    height: inherit;
    border: 3px solid #6147aa96;
  }
}
.contact_us .contact_data .widget_contacts ul {
  list-style-type: none;
}
@media screen and (max-width: 1040px) {
  .contact_us .contact_data .widget_contacts ul {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }
}
.contact_us .contact_data .widget_contacts ul li {
  display: flex;
  align-items: center;
  padding: 32px 0;
}
@media screen and (max-width: 1040px) {
  .contact_us .contact_data .widget_contacts ul li {
    display: flex;
    flex-direction: column;
  }
}
.contact_us .contact_data .widget_contacts ul li .contact-text {
  font-size: 15px;
  padding: 20px;
  width: 80%;
  line-height: 25px;
}
@media screen and (max-width: 1040px) {
  .contact_us .contact_data .widget_contacts ul li .contact-text {
    order: 1;
    text-align: center;
    width: 100%;
  }
}
.contact_us .contact_data .widget_contacts ul li .contact-text strong {
  font-size: 20px;
}
.contact_us .contact_data .widget_contacts ul li .contact-text p {
  color: #000;
  font-size: 17px;
}
.contact_us .contact_data .widget_contacts ul li .contact-text p a {
  color: #000;
  text-decoration: none;
}
.contact_us .contact_data .widget_contacts ul li .icon {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
@media screen and (max-width: 1040px) {
  .contact_us .contact_data .widget_contacts ul li .icon {
    order: 0;
    margin-right: 0;
  }
}
.contact_us .contact_data .right_map {
  width: 75%;
}
@media screen and (max-width: 1040px) {
  .contact_us .contact_data .right_map {
    width: 100%;
  }
}
.contact_us .contact_data .right_map iframe {
  width: 100%;
}

.contact_form {
  width: 50%;
  padding-bottom: 40px;
}
@media screen and (max-width: 800px) {
  .contact_form {
    width: 100%;
  }
}
.contact_form h2 {
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 30px;
  padding: 0 10px;
  text-align: center;
}
.contact_form form {
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  width: 60%;
}
@media screen and (max-width: 1500px) {
  .contact_form form {
    width: 100%;
  }
}
.contact_form form .input_part {
  position: relative;
}
.contact_form form .input_part span {
  height: 26px;
  width: 26px;
  position: absolute;
  margin: 12px;
}
.contact_form form .input_part input {
  padding: 15px 15px 15px 50px;
  font-size: 16px;
  border-radius: 8px;
  margin: 0 0 20px 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
}
.contact_form form textarea {
  padding: 15px;
  font-size: 16px;
  border-radius: 8px;
  margin: 0 0 20px 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  resize: none;
  font-family: inherit;
}
.contact_form form .button {
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
