.section3{
  .slide_part{
    max-width: 1280px;
    margin: 0 auto;
    @media screen and (max-width: 1610px) {
      padding: 0 30px;
    }
  }
  .slide {

    margin: 40px 0;
    padding: 50px 0;
    .swiper-slide {
      height: 300px;
     
      img {
        object-fit: cover;
        border: 5px solid rgba(0, 0, 0, 0.555);
        padding: 5px;
      }
    }
    .swiper-pagination {
      margin-top: 70px;
    }
    .swiper-pagination-bullet-active {
      background: #000;
    }
  }
  
}
